*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




/* #region utility */


a{
    text-decoration: none;
    color: #e8e8e8;
    padding: 2vh;
}

#boologo{
    height: 5vh;
}

.flexbox{
    display: flex;
}

ul{
    list-style: none;
}

.heder_container{
    font-family: 'Roboto', sans-serif;
    width: 70%;
    margin: auto;
}

.item_float{
    float: left;
}
/* #endregion utility */

/* #region HEADER */

header{
    background-color: #ff6900;
    position: sticky;
    top: 0;
    z-index: 5;
    padding-bottom: 2vh;
}

.header{
    justify-content: center;
}

.list_position{
    position: absolute;
    left: 40vh;
    top: 40%;
}

.list_container{
    font-family: 'Roboto', sans-serif;

}

.img_container_head{
    padding-top: 2.5vh;
    font-weight: 600;
}

.list_position_right{
    position: absolute;
    right: 40vh;
    top: 40%;
}
/* #endregion HEADER */

/* #region MAIN */

.container{
    width: 70%;
    max-width: 1152px;
    margin: auto;
    padding-top: 5rem;

}

.row{
    display: flex;

}

.col4{
    width: calc(100% / 12 * 4);
    padding: 1rem;
}

.card{
    position: relative;
}

.img_container{
    position: relative;
}

.badge{
    position: absolute;
    bottom: 6vh;
    left: 1vh;
    font-size: 3vh;
    font-family: 'Roboto', sans-serif;
    padding: 0.3vh;
}

.red{
    background-color: red;
}

.green{
    left: 8.4vh;
    background-color: green;
}

.like{
    position: absolute;
    background-color: grey;
    top: 2vh;
    padding: 0.5vh;
    right: 0;
}

.bottom_card_text{
    font-family: 'Roboto', sans-serif;   
}

.brand_name{
    font-size: 2vh;
}

.product_name{
    font-size: 2.2vh;
}

.price_tag{
    color: red;
}

.discount{
    text-decoration: line-through;
    color: black;
}

.fa-brands.fa-bitcoin{
    color: #f7931a;
    padding-left: 0.5vh;
}

.fa-brands.fa-ethereum{
    color: #611dc1;
    padding-left: 0.5vh;
}

img{
    max-width: 100%;

}


.card:hover .like{
    display: inline-block;
    color: red;
}


            /* IMMAGINI HOVER */


.main_image{
    display: inline-block;
}


.img_container .hover_image{
    display: none;
}

.img_container:hover .main_image{
    display: none;
}

.img_container:hover .hover_image{
    display: inline-block;
}

        /* IMMAGINI HOVER */



/* #endregion MAIN */

/* #region FOOTER */

footer{
    background-color: #1a1a1a;
    position: sticky;
    bottom: 0;
    padding-top: 2vh;
}

.footer{
    justify-content: center;
    height: 14vh;
}

#footer_title{
    color: white;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-bottom: 1vh;
    padding-top: 1vh;
    font-size: 3.2vh;
    font-family: 'Roboto', sans-serif;
}

#footer_title_2{
    color: white;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-bottom: 1vh;
    padding-top: 1vh;
    font-size: 2.2vh;
    font-family: 'Roboto', sans-serif;
}

.foot_font_size{
    font-size: 1.8vh;
}

.list_position_bottom{
    position: absolute;
    left: 40vh;
    top: 20%;
}

.list_container{
    font-family: 'Roboto', sans-serif;

}

.list_position_right_bottom{
    position: absolute;
    right: 40vh;
    bottom: 40%;
}
